<% provide(:title, 'Login') %>

<div class="full-page">
  <div class="card">
    <div class="card-header">Login</div>
    <div class="card-body">
      <%= render 'shared/alerts' %>

      <%= form_with(model: @user, url: session_path) do |f| %>

        <div class="form-group">
          <%= f.label :email%>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password%>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Enter', class: 'btn btn-primary' %>
          <%= link_to 'New Account', register_path, class: 'btn btn-link' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
