<%= form_with(model: project) do |f| %>
  <%= render 'shared/alerts' %>

  <div class="row">
    <div class="col-md-8">

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :short_description %>
        <%= f.text_field :short_description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control', rows: 10 %>
      </div>

      <div class="form-group">
        <%= f.label :student_id %>
        <%= f.collection_select(:student_id, User.student, :id, :name_with_email, {prompt: true}, class: 'form-control', disabled: f.object.persisted? && f.object.student_id.present?) %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :due_at %>
            <%= f.date_field :due_at, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :status %>
            <%= f.select(:status, Project.statuses.keys.map{|e| [e.humanize, e]}, {prompt: true}, class: 'form-control') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label>Tasks</label>

      <div id="tasks">
        <%= f.fields_for :tasks do |task_form| %>
          <%= render partial: 'task_fields', locals: {f: task_form} %>
        <% end %>
      </div>

      <%= link_to_add_association content_tag(:i, nil, class: 'fas fa-fw fa-plus'), f, :tasks ,  data: { association_insertion_node: '#tasks', association_insertion_method: :append }, render_options: {locals: { forceChild: true }}, class: 'btn btn-success btn-block'%>
    </div>
  </div>
  <%= f.submit "Save", class: 'btn btn-success btn-lg mt-3' %>
<% end %>
