
<h1 class="d-flex w-100 align-items-center">
  <span>Projects</span>
  <span class="ml-auto"></span>
  <%= link_to(content_tag(:i, nil, class: 'fas fa-plus'), new_project_path, class: 'btn btn-dark') if can_create_project? %>
</h1>

<hr/>

<% if @list.present? %>
  <div class="table-responsive">
    <table class="table mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="d-none d-md-table-cell">#</th>
          <th scope="col"><%= current_user.advisor? ? 'Student' : 'Advisor'%></th>
          <th scope="col">Project</th>
          <th scope="col" class="text-center">Due in</th>
          <th scope="col" class="text-center">Status</th>
          <th scope="col" class="text-center">Completion</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @list.each do |el|%>
        <tr>
          <td class="text-nowrap d-none d-md-table-cell"><%= el.id %></td>
          <td class="text-nowrap"><%= render partial: 'user_detail', object: current_user.advisor? ? el.student : el.advisor %></td>
          <td class="text-nowrap">
            <%= el.title %><br/>
            <%= content_tag :small, el.short_description, class: 'text-mutted' %>
          </td>
          <td class="text-center text-nowrap"><%= el.due_at.present? ? (el.due_at.future? ? distance_of_time_in_words_to_now(el.due_at) : el.due_at.strftime('%d/%m/%Y') ) : 'N/A' %></td>
          <td class="text-center text-nowrap"><%= el.status.humanize %></td>
          <td class="text-center text-nowrap"><%= el.completion_rate %></td>
          <td class="text-center text-nowrap">
            <%= link_to(content_tag(:i, nil, class: 'fas fa-fw fa-info'), project_path(el), class: 'btn btn-light') %>
            <%= link_to(content_tag(:i, nil, class: 'fas fa-fw fa-pencil-alt'), edit_project_path(el), class: 'btn btn-light') %>
            <%= link_to(content_tag(:i, nil, class: 'fas fa-fw fa-trash'), project_path(el), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger') %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="h4 text-center my-5">No projects found.</div>
<% end %>
