<h1 class="d-flex w-100 align-items-center">
  <span>
    Project Details (<%= project_prog_label(project) %>)
  </span>
  <span class="ml-auto"></span>
  <%= link_to(content_tag(:i, nil, class: 'fas fa-fw fa-pencil-alt'), edit_project_path(project), class: 'btn btn-light mr-2') if can_edit_project? %>
  <%= link_to(content_tag(:i, nil, class: 'fas fa-fw fa-th-list'), projects_path, class: 'btn btn-light') %>
</h1>
<hr />

<div class="row">
  <div class="col-12">
    <%= project_prog_bar(project) %>
    <small><span class="badge badge-pill badge-info"><%= project.status.humanize.upcase %></span></small>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <b>Advisor</b><br />
      <%= render(partial: 'shared/user_detail', object: project.advisor) %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <b>Student</b><br />
      <%= render(partial: 'shared/user_detail', object: project.student) %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-group">
      <b>Title</b><br />
      <%= project.title%>
    </div>

    <div class="form-group">
      <b>Description</b><br />
      <textarea rows="10" readonly class="form-control"><%= project.description%></textarea>
    </div>
  </div>

  <div class="col-md-12 mt-5">
    <div class="table-responsive">
      <table class="table mt-4">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-nowrap">Task</th>
            <th scope="col" class="text-nowrap text-center">Priority</th>
            <th scope="col" class="text-nowrap text-center">Status</th>
            <th scope="col" class="text-nowrap text-center">Due in</th>
            <th scope="col" class="text-nowrap text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'shared/task_row', collection: project.tasks.displayable.order(:status) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
