<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <i class="fas fa-user-graduate mr-2"></i>
        NCI Final Projects
      <% end %>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav w-100">
          <%= nav_link 'Projects', root_path %>
          <%= nav_link 'About', about_path %>
          <% if current_user.present? %>
            <%= nav_link 'Logout', logout_path, class: 'text-danger', spaced: true, method: :delete %>
          <% else %>
            <%= nav_link 'Login', login_path %>
            <%= nav_link 'Register', register_path %>
          <% end %>
        </ul>
      </div>

    </nav>
